/* Login Page */

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form-login {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 25px 45px 45px 45px;
    /* padding: 45px; */
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-login input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-login button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form-login button:hover,.form button:active,.form button:focus {
    background: #43A047;
}

.form-login .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form-login .message a {
    color: #4CAF50;
    text-decoration: none;
}

.login-title {
    color: #555;
    font-size: 28px;
    font-weight: 400;
    display: block;
    padding-bottom: 14px;
}

.forget-box {
    display: none;
}

.cpointer {
    cursor: pointer !important;
}

@media (max-width: 600px) {
    .login-page {
        max-width:320px;
    }
}

/* Panel */
.top_80 {
    position: relative;
    top: 80px;
}

.inline-block {
    display: inline-block !important;
}

.dropdown-painel>.active>a {
    background-color: #e7e7e7 !important;
    color: #000 !important;
}

label {
    font-weight: 400 !important;
}

p {
    margin: 0 0 5px;
}

.avatar-menu {
    margin-left: 5px;
    margin-right:3px;
    height: 39px;
    display: inline-block;
}

.no-pd-nav {
    padding-top: 0 !important;
    padding-bottom: 5px !important;
    margin-top: 5.5px !important;
}

.navbar-nav-avatar>.open, .navbar-nav-avatar>.open:hover, .navbar-nav-avatar>.open:active{
    background-color: #e7e7e7 !important;
}

.navbar-nav-avatar>li>a {
    background: none !important;
}

.table > tbody > tr> td:focus {
    outline:none !important;
}

.dataTables_paginate > ul > li > a:focus {
    outline:none !important;
}

.pt14 {
    padding-top: 14px!important;
}

.pt14 a:hover{
    text-decoration: none !important;
}

.font15 {
    font-size: 15px!important;
}

.btns .fa {
    position: relative; top: 5px; left: 10px;
}

.validation {
    margin-top: 8px; color: red;
}

.mgt_7 {
    margin-bottom: 7px !important;
}

.mgt_10 {
    margin-bottom: 10px !important;
}

.panel_mb {
    margin-bottom: 110px !important;
}

.toast {
    border-radius: 0px !important;
    box-shadow: none !important;
}

/* PC */
@media (min-width: 769px) and (max-width: 1920px) {
    .navbar-nav {
        margin-left: 10px;
    }
}

/* Celular */
@media (min-width: 240px) and (max-width: 480px) {
    /* */
}


/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
    /* */
}


/* Medium devices */
@media (min-width: 769px) and (max-width: 992px) {
    /* */
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #e7e7e7;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.text-muted {
    margin: 20px 0;
}

